label {
    color: black;
}
.fom {
    background: #fff;
    height: 400px;
    margin: auto;
    border: 1px solid black;
    position: relative;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    color: black;
}
.sign-up-card {
    color: black;
}
.tx {
    color: black;
}
.tex {
    color: #CF0A0A;
}