* {
    margin: 0;
    padding: 0;
    font-family: 'Asul', sans-serif;
    color: #F3EFE0;
  }
  
  .ri-star-fill {
    font-size: 15px;
    color: #FFD700;
  }
  
  .ri-heart-fill {
    font-size: 15px;
  }
  
  .rate {
    font-size: 14px;
  }
  
  .text-card {
    font-size: 13px;
  }
  
  .btn-edit-delete {
    height: 35px;
    width: 35px;
  }