  /* .nav {
    background: transparent #CF0A0A;
    backdrop-filter: blur(10px);
  } */
  #navbarSupportContent {
    justify-content: space-between;
  }
  #togle {
    background-color: #CF0A0A;
  }
  .logo {
    font-family: 'Rubik Vinyl', cursive;
    color: #CF0A0A;
    font-size: 50px;
    font-weight: bold;
  }
  .text-focus-in{animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both}
  @keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
  .nav-link {
    font-size: 25px;
    color: #F3EFE0;
    font-weight: bold;
    font-family: 'Asul', sans-serif;
  }
  .nav-link:hover {
    color: #CF0A0A;
  }